.navbar
{
    height: 5rem;
    padding: 0rem 1rem;

    .wrapper
    {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        span 
        {
            font-weight: bold;
            text-transform: uppercase;
            margin: auto;
            padding-left: 4rem;
        }

        .social
        {
            display: flex;
            gap: .5rem;
            margin-left: auto;
        }

        img 
        {
            width: 30px;
            height: 30px;
            object-fit: cover;
        }
    }
}